include LICENSE
include *.md
include pyproject.toml

# Javascript files
include yarn.lock
include lerna.json
include install.json
include package.json
include packages/jupytercad/package.json

graft packages/jupytercad
graft jupytercad/labextension

prune lib
prune binder
prune examples
prune **/node_modules

# Patterns to exclude from any directory
global-exclude *~
global-exclude *.pyc
global-exclude *.pyo
global-exclude .git
global-exclude .ipynb_checkpoints
global-exclude jupytercad-opencascade
