# minimum needed to build jupytercad.
datamodel-code-generator>=0.23.0
hatchling>=1.5.0,<2
jupyter-collaboration>=5,<6
jupyter-collaboration-ui>=3,<4
jupyter-docprovider>=3,<4
jupyter-server-ydoc>=3,<4
jupyterlab>=4.6,<5
pydantic>=2,<3
