@import url('~@deathbeds/jupyterlab-rjsf/style/index.css');

.jpcad-Spinner {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  outline: none;
  background: #00000075;
}

.jpcad-SpinnerContent {
  border: solid #f376269e;
  margin: 50px auto;
  text-indent: -9999em;
  width: 6em;
  height: 6em;
  border-radius: 50%;
  position: relative;
  animation: load3 1s infinite linear, fadeIn 1s;
}

.jpcad-SpinnerContent:before {
  width: 50%;
  height: 50%;
  background: #f3762605;
  border-radius: 100% 0 100% 0;
  box-shadow: inset 6px 5px 0 1px #f37626;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}

.jpcad-SpinnerContent:after {
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.jpcad-camera-client {
  width: 15px;
  height: 15px;
  position: absolute;
  z-index: 10;
  background-color: var(--jp-private-notebook-active-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jpcad-control-panel {
  color: var(--jp-ui-font-color1);
  background: var(--jp-layout-color1);
  height: 100%;
}

.jpcad-control-panel * {
  font-family: var(--jp-ui-font-family);
}

.jpcad-control-panel-title {
  border-bottom: solid var(--jp-border-width) var(--jp-border-color1);
  box-shadow: var(--jp-toolbar-box-shadow);
  display: flex;
  flex-direction: row;
  align-items: center;
  min-height: 24px;
  height: var(--jp-debugger-header-height);
  background-color: var(--jp-layout-color2);
}

.jpcad-control-panel-title h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: var(--jp-ui-font-size0);
  color: var(--jp-ui-font-color1);
  padding-left: 8px;
  padding-right: 4px;
}

.jpcad-sidepanel-widget {
  height: 100%;
}

.jpcad-sidebar-treepanel {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  padding-top: 3px;
}

.jpcad-sidebar-propertiespanel {
  display: flex;
  flex-direction: column;
  min-height: 50px;
  padding-top: 3px;
}

.jpcad-treeview-wrapper {
  overflow: auto;
  height: 100%;
}

.jpcad-treeview-wrapper > div {
  padding: 0 !important;
}
/* TODO: More robust selector */
.jpcad-treeview-wrapper div[style*='align-items: center;']:first-of-type {
  flex-grow: 1;
}

.jpcad-control-panel-tree {
  flex-grow: 1;
}

.jpcad-sidebar-propertiespanel > div {
  overflow: auto;
}

.jpcad-property-outer {
  padding: 10px;
  flex-grow: 1;
  overflow: auto;
}

.jpcad-property-buttons {
  display: flex;
  justify-content: end;
  padding: 10px;
}

.jpcad-property-panel {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
}

.jpcad-hidden-field {
  display: none;
}

div.field.field-array > label + span {
  display: none;
}

.jpcad-property-FormDialog .jp-Dialog-footer button {
  display: none;
}

.jpcad-property-FormDialog .jp-Dialog-content {
  width: 60%;
}

.jpcad-property-FormDialog form {
  padding: 10px;
}

/* TODO Upstream this to jupyterlab jrfs */
.jp-SchemaForm .control-label,
.jp-SchemaForm legend {
  position: inherit;
}

.jpcad-toolbar-widget .jp-Toolbar-item {
  flex-grow: 1;
}

.jpcad-toolbar-usertoolbar {
  flex-grow: 1;
  display: flex;
  flex-direction: row-reverse;
}
.jpcad-toolbar-react-widget {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-grow: 1;
}

.jpcad-toolbar-usertoolbar .jp-MenuBar-anonymousIcon,
.jpcad-toolbar-usertoolbar .jp-MenuBar-imageIcon {
  position: unset !important;
  margin-right: 2px;
  height: 22px;
  box-sizing: border-box;
}

.jpcad-toolbar-usertoolbar .jp-MenuBar-anonymousIcon.selected,
.jpcad-toolbar-usertoolbar .jp-MenuBar-imageIcon.selected {
  border: solid 1.5px red;
}

.jcad-Mainview {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
