*.bundle.*
lib/
node_modules/
*.log
.eslintcache
.stylelintcache
*.egg-info/
.ipynb_checkpoints
*.tsbuildinfo
jupytercad_app/static
jupytercad_app/schemas
jupytercad_app/themes
# Version file is handled by hatchling
jupytercad_app/_version.py
